@import "tailwindcss";

@theme {
  --color-primary: #00687b;
  --color-surfaceTint: #00687b;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #adecff;
  --color-onPrimaryContainer: #004e5d;
  --color-secondary: #4b6269;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #cee7ef;
  --color-onSecondaryContainer: #344a51;
  --color-tertiary: #575c7e;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #dee1ff;
  --color-onTertiaryContainer: #3f4565;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #f5fafc;
  --color-onBackground: #171c1e;
  --color-surface: #f5fafc;
  --color-onSurface: #171c1e;
  --color-surfaceVariant: #dbe4e7;
  --color-onSurfaceVariant: #3f484b;
  --color-outline: #70797c;
  --color-outlineVariant: #bfc8cb;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #2c3133;
  --color-inverseOnSurface: #ecf2f4;
  --color-inversePrimary: #85d2e7;
  --color-primaryFixed: #adecff;
  --color-onPrimaryFixed: #001f26;
  --color-primaryFixedDim: #85d2e7;
  --color-onPrimaryFixedVariant: #004e5d;
  --color-secondaryFixed: #cee7ef;
  --color-onSecondaryFixed: #061f25;
  --color-secondaryFixedDim: #b2cbd3;
  --color-onSecondaryFixedVariant: #344a51;
  --color-tertiaryFixed: #dee1ff;
  --color-onTertiaryFixed: #131937;
  --color-tertiaryFixedDim: #bfc4eb;
  --color-onTertiaryFixedVariant: #3f4565;
  --color-surfaceDim: #d5dbdd;
  --color-surfaceBright: #f5fafc;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #eff4f7;
  --color-surfaceContainer: #e9eff1;
  --color-surfaceContainerHigh: #e4e9eb;
  --color-surfaceContainerHighest: #dee3e5;
}